<div class="pokedex-container">
    <!-- Riquadro sinistro - Visualizzatore -->
    <div class="visualizer-panel">
      <div class="pokemon-display">
        <div class="info-box">
            <span class="value" class="name-card">{{ (selectedPokemon?.name || "nome" | titlecase)}}</span>
          </div>
        <img [src]="selectedPokemon?.sprites?.front_default || 'assets/default-pokemon.png'" 
             alt="{{ selectedPokemon?.name }}"
             class="main-sprite">
        
        <div class="info-boxes">
          <div class="info-box">
            <span class="label">Peso</span>
            <span class="value">{{ (selectedPokemon?.weight || 0) / 10 }} Kg.</span>
          </div>
          <div class="info-box">
            <span class="label">Altezza</span>
            <span class="value">{{ (selectedPokemon?.height || 0) / 10}} m.</span>
          </div>
        </div>
  
        <div class="types-box">
          <span *ngFor="let type of selectedPokemon?.types?.slice(0, 2)" 
                [class]="'type-badge type-' + type.type.name">
            {{ type.type.name | titlecase }}
          </span>
        </div>
       

       <!-- risolve problema del button vuoto quando non c'è pokemon selezionato -->

        <a *ngIf="selectedPokemon" [routerLink]="['/pokemon', selectedPokemon.id]" class="detail-button">
            <img src="/pokeicona-Photoroom.png" alt="Dettagli" class="detail-icon">
      </a>
      <button *ngIf="!selectedPokemon" class="detail-button" disabled>
        <img src="/pokeicona-Photoroom.png" alt="Dettagli" class="detail-icon">
      </button>
    </div>
    </div>
  
    <!-- Riquadro destro - Lista -->
    <div class="list-panel">
      <div class="pokemon-list">
        <div *ngFor="let pokemon of pokemons" 
             class="list-item"
             [class.selected]="pokemon.id === selectedPokemon?.id"
             (click)="selectPokemon(pokemon)">
          
          <div class="item-content">
            <img [src]="pokemon.sprites?.front_default" 
                 alt="{{ pokemon.name }}"
                 class="list-sprite">
            
            <div class="item-info">
              <span class="pokemon-number">Id.{{ pokemon.id }}</span>
              <h3 class="pokemon-name">{{ pokemon.name | titlecase }}</h3>
            </div>
          </div>
  
        
        </div>
      </div>
  
      <!-- Paginazione  -->
      <div class="pagination-buttons">
        <button (click)="previousPage()" [disabled]="isFirstPage">‹</button>
        <span>Pagina {{ currentPage }}</span>
        <button (click)="nextPage()">›</button>
      </div>
    </div>
</div>